# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# --------------------
# Environments
# --------------------
.env
*.env
.venv/
venv/
env/
ENV/

# --------------------
# Outputs & logs
# --------------------
outputs/*
!outputs/.gitkeep
logs/
*.log
*.out
*.err

# --------------------
# System / IDE
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# --------------------
# Caches
# --------------------
.mypy_cache/
.pytest_cache/
.pyre/
.dmypy.json
.pytype/
__pypackages__/

# --------------------
# Coverage
# --------------------
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# --------------------
# Notebooks
# --------------------
.ipynb_checkpoints/
*.ipynb_convert/

# --------------------
# Docker / Devcontainers
# --------------------
.devcontainer/.cache/
docker-compose.override.yml
*.pid

# --------------------
# Terraform / k8s
# --------------------
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# --------------------
# Local data
# --------------------
data/
tmp/
